    <%- include('header')%>
    <!-- ===== LATEST BLOG SECTION ===== -->
    <section class="blog">
        <div class="container">
            <div class="section-header">
                <span class="section-tag">Blog</span>
                <h2 class="section-title">Latest Insights</h2>
                <p class="section-desc">Thoughts, tips, and lessons from my journey</p>
            </div>
            
            <div class="blog-grid">
                <% if (blog && blog.length) { %>
                    <% for (let i = 0; i < blog.length; i++) { %>
                       <article class="blog-card"onclick="window.location.href='/blog/<%= blog[i].bid %>'"style="cursor:pointer;">
                        <img src="/<%= blog[i].bimg %>" alt="<%= blog[i].btitle %>" />

                        <div class="blog-content">
                            <span class="blog-date"><%= blog[i].bdate %></span>
                            <h3><%= blog[i].btitle %></h3>
                            <!-- <p><%= blog[i].bcontent %></p> -->
                        </div>
                    </article>
                    <% } %>
                <% } else { %>
                    <p style="margin:0; opacity:0.8;">No blog posts found.</p>
                <% } %>
            </div>
        </div>
    </section>
    <%- include('footer')%>
